@media screen and (max-width:600px)
{
 
 *{
  margin: 0px;
  padding: 0px;
}

@font-face {
    font-family: myFirstFont;
    src: url(Rustler-lxq5.ttf);

  }
  ul img {
    height: auto;
    width: 50px;
    float: left;
    top: 0px;
    
}
nav #poza {
  height: auto;
    width: 50px;
    float: left;
    top: 0px;
}
nav{
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0px;
  left: 0px;
}
nav ul{
  list-style-type: none;
}
nav .casa{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: myFirstFont;
  /*font-family: Savath;
  font-family: Lawless Font
  font-weight: 0;
  font-variant: small-caps;*/
  display: block;
  height:100%;
  
}
ul.meniu{
display: flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-evenly;
}
ul.meniu>li{
    flex-grow:1;
    height: 70px ;
    text-align: center;
    line-height: 70px;
  }
  ul.meniu>li>ul.submeniu{
  visibility: hidden;
  text-align: center;
  }
  ul.meniu>li:hover>ul.submeniu{
  visibility: visible;
  text-align: center;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.753);
  }
  ul.meniu li:hover{
    background-color: rgb(0, 0, 0);
  }
body{
    background-image: url(fundal.png) ;
    background-size: 600px;
    padding-top: 80px ;
}
#aboutthegame{
    display: flex;
    text-align: center;
    flex-direction: row;
    /*max-width: 600px;*/
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}
#aboutthegame img{
    height: 250px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}
h3{
    font-size: 30px;
    font-family: myFirstFont;
    text-align: center;
    color:rgb(223, 18, 28); ;
    background-color:black;
    
}
h2{
    font-size: 15px;
    font-family: myFirstFont;
    text-align: center;
    background-color:rgb(223, 18, 28);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1px;    
}
#aboutthegame>p{
    font-size: 15px;
    font-family: coursive;
    text-align: center;
    background-color:rgb(223, 18, 28);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

#poze p{
    font-size: 15px;
    font-family: myFirstFont;
    text-align: center;
    color:rgb(223, 18, 28); ;
    background-color:black;
    
}

#poze video{
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
  width: 400px;
}